.exercise-card {
    height: 10rem;
    width: 18.25rem;
    margin: 0.25rem;
    background-color: rgba(30, 5, 5, 0.9);
    padding: 0.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(127, 29, 29, 0.8);
    display: flex;
    gap: 0.6rem;
    transition: transform 0.3s ease, width 0.3s ease;
    animation: fadeInUp 0.4s ease;
    z-index: 1;
}

.exercise-card:hover {
    transform: scale(1.05);
    z-index: 2;
}

.exercise-image-container {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    height: 8.75rem;
    width: 8.75rem;
    overflow: visible;
}

.exercise-image {
    object-fit: cover;
    height: 100%;

}

.exercise-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.exercise-title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    word-break: break-word;
}

.exercise-text {
    color: white;
    font-size: 1.125rem;
}

@media (min-width: 768px) {
    .exercise-card {
        padding: 0.75rem;
    }

    .exercise-title {
        font-size: 1.3rem;
    }
}