.footer {
    width: 100vw;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #555;
    background-color: #ffffff;
    gap: 0.5rem;
}

.github-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    flex-wrap: nowrap;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.github-icon {
    display: block;
    outline: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: fill 0.2s ease-in, background-color 0.3s ease-out;
}

.github-icon:hover {
    fill: white;
    background-color: black;
}

.no-hover:hover {
    fill: inherit;      /* o el color normal */
    background-color: transparent;
}

.footer-info {
    font-size: 1rem;
    user-select: none;
}

@media (max-width: 600px) {
    .footer {
        font-size: 0.9rem;
    }

    .footer-info {
        font-size: 0.9rem;
    }

    .github-link, .github-icon {
        width: 1.8rem;
        height: 1.8rem;
    }
}

@media (prefers-color-scheme: dark) {
    .footer {
        background-color: #000000;
    }

    .footer-info{
        color: #c9c9c9;
    }

    .github-icon {
        fill: #c9c9c9;
    }

    .github-icon:hover {
        fill: black;
        background-color: #c9c9c9;
    }

    .no-hover:hover {
        fill: black;
    }
}