.routine-day-card {
    height: 10rem;
    /* h-40 */
    width: 15rem;
    /* w-73 (Tailwind personalizada) */
    margin: 0.25rem;
    /* m-1 */
    background-color: rgba(30, 5, 5, 0.6);
    /* p-3 */
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(127, 29, 29, 0.8);
    /* shadow-md + shadow-red-800 */
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /* gap-2 */
}

.routine-day-add-card {
    margin: 0.25rem;
    position: relative;
    height: 10rem;
    width: 15rem;
    border-radius: 0.75rem;
    overflow: hidden;
    display: flex;
}

.routine-day-image-container {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.routine-image {
    object-fit: cover;
    width: 100%;
    border-radius: 0.75rem;
}

.routine-info {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.routine-day-title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.button-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    border: none;
    transition: transform 0.2s ease;
}

.addButton {
    cursor: pointer;
    background-color: rgba(173, 2, 2, 0.8);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.8);
    transition: box-shadow 0.2s ease;
}

.addButton:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

.addButton svg {
    width: 4rem;
    height: 4rem;
    color: rgba(255, 255, 255, 1);
}

@media (min-width: 768px) {
    .routine-day-title {
        font-size: 1.9rem;
    }
}