.routine-set-card {
    height: 10rem;
    /* h-40 */
    width: 18.25rem;
    /* w-73 (Tailwind personalizada) */
    margin: 0.25rem;
    /* m-1 */
    background-color: rgba(30, 5, 5, 0.6);
    /* bg-[rgba(...)] */
    padding: 0.75rem;
    /* p-3 */
    border-radius: 0.75rem;
    /* rounded-xl */
    box-shadow: 0 4px 6px rgba(127, 29, 29, 0.8);
    /* shadow-md + shadow-red-800 */
    display: flex;
    gap: 0.5rem;
    /* gap-2 */
}

.routine-set-title {

}

.routine-details {

}