.routine-set-card {
    height: 10rem;
    /* h-40 */
    width: 19rem;
    /* w-73 (Tailwind personalizada) */
    margin: 0.25rem;
    /* m-1 */
    background-color: rgba(30, 5, 5, 0.9);
    /* bg-[rgba(...)] */
    padding: 0.6rem;
    /* p-3 */
    border-radius: 0.75rem;
    /* rounded-xl */
    box-shadow: 0 4px 6px rgba(127, 29, 29, 0.8);
    /* shadow-md + shadow-red-800 */
    display: flex;
    position: relative;
    gap: 0.8rem;
    /* gap-2 */
}

.routine-set-add-card {
    margin: 0.25rem;
    position: relative;
    height: 10rem;
    width: 19rem;
    border-radius: 0.75rem;
    overflow: hidden;
    display: flex;
}

.routine-set-options {
    position: absolute;
    display: flex;
    z-index: 800;
    bottom: 0.5rem;
    right: 0.5rem;
    gap: 0.6rem;
}

.routine-set-options img {
    height: 1.65rem;
    width: 1.65rem;
    padding: 0.25rem;
}

.routine-set-options>.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.65rem;
    width: 1.65rem;
    cursor: pointer;
    border: 0.65px solid rgb(255, 255, 255);
    border-radius: 100%;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), border 0.5 ease-in;
}

.routine-set-options>.icon-container:hover {
    background-color: rgba(77, 71, 71, 1);
    transform: scale(1.2);
    border: none;

}

.editIcon {
    color: greenyellow;
}

.routine-set-image-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.routine-set-image {
    object-fit: cover;
    height: 8rem;
}

.routine-set-title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}

.routine-set-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* gap: 2rem; */
}

.routine-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.routine-set-text {
    color: white;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .routine-set-title {
        font-size: 1.5rem;
    }

    .routine-set-text {
        color: white;
        font-size: 1.1rem;
    }
}