.routine-set-card {
    height: 11rem;
    width: 19rem;
    margin: 0.25rem;
    background-color: rgba(30, 5, 5, 0.9);
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(127, 29, 29, 0.8);
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    transition: height 0.35s ease-in-out,
    transform 0.3s ease,
    box-shadow 0.3s ease;
    padding: 0.6rem;
    will-change: height, transform;
}

.routine-set-add-card {
    margin: 0.25rem;
    position: relative;
    height: 10rem;
    width: 19rem;
    border-radius: 0.75rem;
    overflow: hidden;
    display: flex;
}

.default-card {
    position: relative;
    display: flex;
    gap: 0.8rem;
    width: 100%;
    height: 100%;
}

.routine-set-options {
    position: absolute;
    display: flex;
    z-index: 800;
    bottom: 0.5rem;
    right: 0.5rem;
    gap: 0.6rem;
}

.routine-set-options img {
    height: 1.65rem;
    width: 1.65rem;
    padding: 0.25rem;
    outline: none;
}

.routine-set-options .arrowIcon {
    padding: 0.1rem;
    transition: transform 0.3s ease;
    outline: none;
}

.routine-set-options .editIcon {
    transition: height 0.3s ease, width 0.3s ease;
}

.routine-set-options > .icon-container {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.65rem;
    width: 1.65rem;
    cursor: pointer;
    border: 0.65px solid rgb(255, 255, 255);
    border-radius: 100%;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), border 0.5s ease-in;
}

.routine-set-options > .icon-container:hover {
    background-color: rgba(77, 71, 71, 1);
    transform: scale(1.2);
    border: none;
}

.routine-set-card.accordion {
    grid-row: span 2; /* sigue ocupando 2 filas */
    height: 18.8rem; /* crecimiento visual */
    transform: scale(1.02); /* pequeño efecto de suavizado */
    box-shadow: 0 8px 16px rgba(127, 29, 29, 0.9);
}

.accordion .routine-set-image-container {
    height: 100%;
}

.routine-set-image-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 8rem;
}

.routine-set-image {
    object-fit: cover;
    height: 8rem;
    transition: opacity 0.4s ease;
    opacity: 1;
}

.routine-set-image.fade-out {
    opacity: 0;
}

.routine-set-title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.5rem;

}

#titleInput {
    all: unset;
    border-radius: 0.3rem;
    font-size: 1.25rem;
    color: white;
    border: none;
    background-color: rgb(168, 168, 168);
    width: 100%;
    padding-left: 0.2rem;
}

#suggestionBox {
    position: absolute;
    width: 9.2rem;
    top: 3.9rem;
    padding-left: 0.4rem;
    border-radius: 0.5rem;
    left: 9.3rem;
    height: auto;
    min-height: 1.4rem;
    z-index: 10;
    color: white;
    background: rgb(105, 105, 105);
    pointer-events: none;
    font-size: 0.9rem;
    opacity: 0;
    cursor: pointer;
    transform: translateY(-5px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

#suggestionBox.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.routine-set-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.routine-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.routine-set-text {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: white;
    font-size: 1rem;
}

#reps {
    margin-left: 0.5rem;
}

#series::-webkit-inner-spin-button,
#series::-webkit-outer-spin-button,
#reps::-webkit-inner-spin-button,
#reps::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#series[readonly],
#reps[readonly] {
    all: unset;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0.75rem;
    font-size: 1rem;
    transition: padding 0.3s ease, color 0.3s ease, background-color 1s ease-out;
}

#series.editable,
#reps.editable {
    background-color: rgb(168, 168, 168);
    border-radius: 0.75rem;
    color: black;
    padding: 0.2rem 0.5rem;
    border: none;
    transition: padding 0.3s ease, color 0.3s ease, background-color 0.3s linear, border-radius 0.3s ease;
}

.description {
    display: none;
    grid-area: description;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    justify-content: flex-start;
    flex-direction: column;
}

.description > label {
    font-size: 0.9rem;
}

#description-text {
    overflow: hidden;
    width: 100%;
    height: 5rem;
    border-radius: 0.75rem;
    resize: none;
    z-index: 16;
    background-color: rgb(168, 168, 168);
    font-size: 0.8rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
}

#description-text:focus {
    outline: none;
    box-shadow: none;
}

#description-text::placeholder {
    color: black;
    opacity: 1;
}

.rotate-180 {
    transform: rotate(180deg);
}

@media (min-width: 768px) {
    .routine-set-card {
        height: 14rem;
    }

    .routine-set-card.accordion {
        height: 20.5rem;
    }

    .routine-set-title {
        font-size: 1.5rem;
    }

    .routine-set-text {
        color: white;
        font-size: 1.2rem;
    }
}