.routine-set-card {
    height: 10rem;
    width: 19rem;
    margin: 0.25rem;
    background-color: rgba(30, 5, 5, 0.9);
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(127, 29, 29, 0.8);
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    transition: height 0.3s ease-in-out;
    padding: 0.6rem;
}

.routine-set-add-card {
    margin: 0.25rem;
    position: relative;
    height: 10rem;
    width: 19rem;
    border-radius: 0.75rem;
    overflow: hidden;
    display: flex;
}

.default-card {
    position: relative;
    display: flex;
    gap: 0.8rem;
    width: 100%;
    height: 100%;
}

.routine-set-options {
    position: absolute;
    display: flex;
    z-index: 800;
    bottom: 0.5rem;
    right: 0.5rem;
    gap: 0.6rem;
}

.routine-set-options img {
    height: 1.65rem;
    width: 1.65rem;
    padding:0.25rem;
}

.routine-set-options .arrowIcon {
    padding: 0.1rem;
    transition: transform 0.3s ease;
}

.fade-toggle {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.fade-toggle.visible {
    opacity: 1;
    pointer-events: auto;
}

.routine-set-options>.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.65rem;
    width: 1.65rem;
    cursor: pointer;
    border: 0.65px solid rgb(255, 255, 255);
    border-radius: 100%;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), border 0.5 ease-in;
}

.routine-set-options>.icon-container:hover {
    background-color: rgba(77, 71, 71, 1);
    transform: scale(1.2);
    border: none;
}

.accordion {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 18rem;
    justify-content: center;
    overflow: hidden;
}

.accordion .routine-set-image-container {
    height: 100%;
}

.accordion .routine-set-info {
    gap: 1rem;
}

.routine-set-image-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.routine-set-image {
    object-fit: cover;
    height: 8rem;
}

.routine-set-title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}

.routine-set-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.routine-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.routine-set-text {
    color: white;
    font-size: 1rem;
}

.description {
    display: none;
    grid-area: description;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.description > label {
    font-size: 0.9rem;
}

#description-text {
    overflow: hidden;
    width: 100%;
    height: 5rem;
}

@media (min-width: 768px) {
    .routine-set-title {
        font-size: 1.5rem;
    }

    .routine-set-text {
        color: white;
        font-size: 1.1rem;
    }
}

.rotate-180 {
    transform: rotate(180deg);
}