.routine-day-card {
    height: 10rem;
    width: 15rem;
    margin: 0.25rem;
    background-color: rgba(30, 5, 5, 0.6);
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(127, 29, 29, 0.8);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    animation: fadeInUp 0.4s ease;
}

.routine-day-add-card {
    margin: 0.25rem;
    position: relative;
    height: 10rem;
    width: 15rem;
    border-radius: 0.75rem;
    overflow: hidden;
    display: flex;
}

.routine-day-options {
    position: absolute;
    display: flex;
    z-index: 800;
    bottom: 0.5rem;
    right: 0.5rem;
    gap: 0.6rem;
}

.routine-day-options img {
    height: 1.45rem;
    width: 1.45rem;
    padding: 0.25rem;
    outline: none;
}

.routine-day-options .editIcon {
    transition: height 0.3s ease, width 0.3s ease;
}

.routine-day-options>.icon-container {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.45rem;
    width: 1.45rem;
    cursor: pointer;
    border: 0.65px solid rgb(255, 255, 255);
    border-radius: 100%;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), border 0.5 ease-in;
}

.routine-day-options>.icon-container:hover {
    background-color: rgba(77, 71, 71, 1);
    transform: scale(1.2);
    border: none;
}

.routine-day-image-container {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.routine-image {
    object-fit: cover;
    width: 100%;
    border-radius: 0.75rem;
}

.routine-info {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.routine-day-title {
    color: white;
    width: calc(100% - 4rem); 
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, outline 0.3s ease, box-shadow 0.3s ease;
}

.routine-day-title[contenteditable="true"] {
    box-shadow: 0 4px 6px rgba(87, 87, 87, 0.8);
    outline: 2px solid #ff0000;
    background-color: rgba(255, 255, 255, 0.63);
}

.button-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    border: none;
    transition: transform 0.2s ease;
}

.addButton {
    cursor: pointer;
    background-color: rgba(173, 2, 2, 0.8);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.8);
    transition: box-shadow 0.2s ease;
}

.addButton:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

.addButton svg {
    width: 4rem;
    height: 4rem;
    color: rgba(255, 255, 255, 1);
}

@media (min-width: 768px) {
    .routine-day-title {
        font-size: 1.9rem;
    }
}