.snackbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    opacity: 0;

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px 16px;
    border-radius: 6px;
    min-width: 320px;
    max-width: 90%;

    color: white;
    transition: all 0.3s ease;
    z-index: 1000000000000;
}

/* Tipos */
.snackbar.success {
    border: 2px solid #2e7d32;
    background-color: rgba(7, 89, 13, 0.76);
}

.snackbar.warning {
    border: 2px solid #ed6c02;
    background-color: rgba(150, 70, 2, 0.76);
}

.snackbar.error {
    border: 2px solid #d32f2f;
    background-color: rgba(148, 33, 33, 0.76);
}

.snackbar.show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.snackbar-gif {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#snackbar-message {
    flex: 1;
}

#snackbar-close {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
