.calendar-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

#calendar {
    max-width: 900px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(223, 223, 223, 0.97);
    height: 600px;
}

.fc .fc-daygrid-day-top {
    position: absolute;
    top: 0;
    right: 0.2rem;
}

.fc .fc-day-today {
    background-color: rgba(255, 57, 57, 0.4) !important;
}

.fc .fc-daygrid-day-events {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.fc .fc-daygrid-event {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 auto !important;
    border: none !important;
    background: transparent !important;
}

.fc .fc-daygrid-event-harness {
    height: 100%;
    width: 100%;
}

.fc-daygrid-event.fc-event-end {
    height: 100%;
    width: 100%;
}

.fc .fc-event-main {
    overflow: visible;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fc .fc-event-main .calendar-img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    filter: drop-shadow(0 1px 3px #575757);
    pointer-events: none;
    transition: transform 0.25s ease;
}

.fc .fc-event-main:hover .calendar-img {
    transform: scale(1.10);
}

.fc .fc-daygrid-day:hover {
    background-color: rgba(64, 64, 64, 0.71) !important;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.fc .fc-col-header-cell {
    background-color: #2c3e50;
}

.fc .fc-col-header-cell:first-child {
    border-top-left-radius: 0.4rem;
}

.fc .fc-col-header-cell:last-child {
    border-top-right-radius: 0.4rem;
}

.fc .fc-scrollgrid-section-header th {
    background-color: #2c3e50;
    border-top-left-radius: 0.4rem;
}

.fc .fc-day-mon th {
    border-top-left-radius: 0.5rem;
}

.fc .fc-day-sun th {
    border-top-right-radius: 0.5rem;
}

.fc-theme-standard th:last-child  {
    border-top-right-radius: 0.5rem;
}

.fc .fc-scrollgrid-section-liquid > td {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.fc .fc-col-header-cell-cushion,
.fc .fc-toolbar-title::first-letter {
    text-transform: capitalize;
}

.fc .fc-col-header-cell-cushion {
    color: rgb(212, 212, 212);
}

.fc .fc-col-header-cell,
.fc .fc-daygrid-day,
.fc .fc-scrollgrid,
.fc .fc-view-harness,
.fc .fc-view {
    border-color: #3d3d3d;
}

.fc .fc-view-harness, .fc .fc-scrollgrid {
    border-radius: 0.5rem;
}

.fc .fc-daygrid {
    outline: 2px solid #3d3d3d; /* borde alrededor del grid completo */
    outline-offset: -1px; /* se alinea con los bordes internos */
    border-collapse: collapse; /* para que los bordes no se sumen */
    border-radius: 0.5rem;

}

.fc .fc-button .fc-icon {
    color: rgb(212, 212, 212);
}

@media (max-width: 768px) {
    .fc .fc-toolbar-title {
        font-size: 1.2rem;
    }
}

@media (prefers-color-scheme: dark) {
    #calendar {
        background-color: #1e1e1e; /* gris oscuro elegante */
        color: #f0f0f0;
        border: none;
    }

    .fc .fc-col-header-cell,
    .fc .fc-daygrid-day,
    .fc .fc-scrollgrid,
    .fc .fc-view-harness,
    .fc .fc-view {
        border-color: #909090;
    }

    .fc .fc-daygrid {
        outline: 2px solid #909090; /* borde alrededor del grid completo */
    }

    .fc .fc-daygrid-day:hover {
        background-color: rgba(202, 202, 202, 0.7) !important;
    }

    .fc .fc-toolbar-title,
    .fc .fc-daygrid-day-number {
        color: rgb(212, 212, 212);
    }

}

