.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.error-label {
    font-weight: bold;
    text-align: center;
    color: white;
}

.error-image {
    height: 23rem;
    width: 23rem;
}

#errorButton {
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 0.6rem 0.9rem;
    background: red;
    font-size: 1.4rem;
    cursor: pointer;
}