.home-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    overflow-y: auto;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    margin-bottom: 2rem;
}

.home-title {
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.home-image {
    object-fit: contain;
    width: 6rem;
    height: 6rem;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.5));
}

.home-stats-label {
    color: black;
    font-weight: bold;
}

.home-stats {
    font-size: 1.3rem;
    color: white;
    text-align: start;
    width: 75%;
    font-weight: bold;
}

.home-button {
    all: unset;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 0.4rem;
    background: #d70000;
    padding: 0.8rem 1.3rem;
    text-align: center;
    font-weight: bold;
    color: black;
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.35);
    transition: transform 0.2s ease;
}

.home-button:hover {
    transform: scale(1.08);
}

.home-container-logo {
    min-width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-top: 1rem;
    opacity: 1;
    margin-bottom: 2rem;
    transition: opacity 0.2s ease;
}

.home-container-logo h1 {
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    border: 1px solid transparent;
    font-size: 2.6em;
    font-family: "Saira Stencil One", sans-serif;
}

.home-container-logo .border {
    color: white;
}

.home-container-stats {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.home-stats-label {
    font-size: 0.8rem;
}

.home-stats-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-stats-bg {
    padding: 1rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid red;
    background: rgba(255, 0, 0,0.45);
    border-radius: 1rem;
    gap: 0.4rem;
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.35);
}

.home-stats-dumbbell, .home-stats-calendar{
    height: 2rem;
    width: 2rem;
    color: red;
}

.stats-title {
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
}

@media (min-width: 768px) {

    .home-stats-bg {
        width: 12rem;
    }

    .home-container-logo {
        opacity: 0;
    }

    .home-header {
        gap: 2rem;
    }

    .stats-title {
        font-size: 1rem;
    }

    .home-stats-label {
        font-size: 1rem;
    }

    .home-title {
        font-size: 3rem;
    }

    .home-stats {
        font-size: 2rem;
    }

    .home-image {
        width: 10rem;
        height: 10rem;
    }
}
