.routine-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    box-sizing: border-box;
    animation: fadeInUp 0.4s ease;
}

.routine-list-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.routine-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-height: calc(100vh - 5rem);
    gap: 1rem;
    z-index: 12;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 1rem;
}

.fade-toggle {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.fade-toggle.visible {
    opacity: 1;
    pointer-events: auto;
}

.orderIcon {
    height: 1.2rem;
    width: 1.2rem;
}

@media (max-width: 768px) {
    .routine-container {
        padding-top: 0.5rem;
    }

    .routine-list-container {
        align-items: center;
    }
}

@media (min-width: 768px) {
    .routine-container {
        padding-top: 0.5rem;
    }
}

