.calendar-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

#calendar {
    max-width: 900px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    padding: 0.5rem;
    background-color: #f9f9f9;
    height: 600px;
}

.fc .fc-daygrid-day-top {
    position: absolute;
    top: 0;
    right: 0.2rem;
}

.fc .fc-daygrid-day-events {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.fc .fc-daygrid-event {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 auto !important;
    border: none !important;
    background: transparent !important;
}

.fc .fc-daygrid-event-harness {
    height: 100%;
    width: 100%;
}

.fc-daygrid-event.fc-event-end {
    height: 100%;
    width: 100%;
}

.fc .fc-event-main {
    overflow: visible;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fc .fc-daygrid-day:hover {
    background-color: #ff0000;
    transition: background-color 0.2s ease;
    cursor: pointer;
}


.fc .fc-col-header-cell-cushion,
.fc .fc-toolbar-title::first-letter {
    text-transform: capitalize;
}

