body {
    min-height: 100vh;
    width: 100vw;
    padding: 7px;
    background: linear-gradient(135deg, #ff0000 0%, #000000 80%);
    background-attachment: fixed;
    background-size: cover;
}

.exercise-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 0.5rem;
}

main {
    height: 100vh;
}
section {
    height: 100vh;
}

@media (max-width: 768px) {
    .exercise-list {
            margin-top: 1.6em;
        }
}

@media (min-width: 768px) {
    .exercise-list {
        margin-top: 4rem;
        flex-direction: row;
        align-items: flex-start;
    }
}