
.exercises-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.filters-container {
    border-radius: 10rem;
    margin-top: 6rem;
    margin-right: 4rem;
    margin-left: 6rem;
    padding: 0.2rem;
    width: 70%;
    height: 4.3rem;
    display: flex;
    gap: 0.7rem;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-shrink: 0;
    transition: margin-top 0.2s ease-in;
}

.filter {
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4rem;
    padding: 0.6rem;
    flex-shrink: 0;
    cursor: pointer;
    z-index: 2345;
}

.filter.active {
    background-color: rgba(150, 24, 24, 0.7);
    /* estilo cuando está “checkeado” */
    color: rgb(255, 255, 255);
    transition: background-color 0.3s, color 0.3s;
    animation: pulse 0.4s forwards;
    box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.7);
}

.exercise-list-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.exercise-list {
    display: flex;
    align-items: center;
    height: 95vh;
    width: 95vw;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-bottom: 3rem;
}

section {
    height: 100vh;
}

@media (max-width: 768px) {
    .exercise-list-container {
        align-items: center;
    }

    .exercise-list {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
}

@media (min-width: 768px) {
    .filters-container {
        margin-top: 12rem;
    }

    .exercise-list {
        margin-top: 1.5rem;
        flex-direction: row;
        align-items: start;
        justify-content: flex-start;
        align-content: flex-start;
        margin-left: 0.5em;
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}