
.exercises-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.filters-container {
    border-radius: 10rem;
    margin-right: 4rem;
    margin-left: 6rem;
    padding: 0.2rem;
    width: 70%;
    height: 4.3rem;
    display: flex;
    gap: 0.7rem;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-shrink: 0;
    transition: margin-top 0.2s ease-in;
    z-index: 9999;
    position: relative;
}

.filter {
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4rem;
    padding: 0.6rem;
    flex-shrink: 0;
    cursor: pointer;
    z-index: 2345;
}

.filter.active {
    background-color: rgba(150, 24, 24, 0.7);
    /* estilo cuando está “checkeado” */
    color: rgb(255, 255, 255);
    transition: background-color 0.3s, color 0.3s;
    animation: pulse 0.4s forwards;
    box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.7);
}

.exercise-list-container {
    display: flex;
    justify-content: center;
    /*min-height: 100vh;*/
    width: 100%;
    /* ARREGLAR ESTO */
    height: 75vh; 
    overflow: hidden;
}

.exercise-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.25rem, 1fr));
    justify-items: center;
    height: 100%;
    width: 95vw;
    gap: 0.7rem;
    padding-bottom: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.filters-container.no-scroll {
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 768px) {
    .exercise-list-container {
        align-items: center;
    }
}

@media (min-width: 768px) {
    .exercise-list {
        align-content: flex-start;
        gap: 2rem;
        margin-top: 1.5rem;
        margin-left: 0.5em;
    }
}




