.exercise-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .exercise-list {
            margin-top: 1.6em;
        }
}

@media (min-width: 768px) {
    .exercise-list {
        margin-top: 4rem;
        flex-direction: row;
        align-items: flex-start;
    }
}