*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 35px;
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
        url('/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 1.6;
    min-height: 100vh;
}

/* body {
    height: 100vh;
    width: 100vw;
    padding: 7px;
    background: linear-gradient(135deg, #ff0000 0%, #000000 80%);
    background-attachment: fixed;
    background-size: cover;
}

*/

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

section {
    height: 100vh;
}

.shake {
    animation: shake 0.5s ease;
}

.fade-in-up {
    animation: fadeInUp 0.4s ease;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }
}



@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}