*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 7px;
    background: linear-gradient(135deg, #ff0000 0%, #000000 80%);
    background-attachment: fixed;
    background-size: cover;
}

#app {
    width: 100vw;
    height: 100vh;
}