.routine-container {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%; 
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    box-sizing: border-box; 
}

.routine-list-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.routine-list {
    display: flex;
    align-items: center;
    width: 95vw;
    flex-wrap: wrap;
    gap: 0.5rem;
}



@media (max-width: 768px) {
    .routine-container {
        padding-top: 5rem;
    }

    .routine-list-container {
        align-items: center;
    }

    .routine-list {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
    }
}

@media (min-width: 768px) {
    .routine-list {
        margin-top: 2rem;
        flex-direction: row;
        align-items: start;
        justify-content: flex-start;
        align-content: flex-start;
        margin-left: 0.5em;
    }
}