.routine-container {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    box-sizing: border-box; 
    animation: fadeInUp 0.4s ease;
}

.routine-list-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.routine-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: min-content;
    justify-items: center;
    align-items: center;
    width: 95vw;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 12;
}

.fade-toggle {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.fade-toggle.visible {
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 768px) {
    .routine-container {
        padding-top: 5rem;
    }

    .routine-list-container {
        align-items: center;
    }
}

@media (min-width: 768px) {
    .routine-container{
        margin-top: 4rem;
    }
    .routine-list {
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem
    }
}

