.exercise-picker-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.exercise-picker-modal.show {
    opacity: 1;
    pointer-events: auto;
}

.exercise-picker-container {
    background: white;
    padding: 20px;
    width: 18rem;
    border-radius: 8px;
    height: 27.5rem;
}

.exercise-search {
    position: relative;
    margin-top: 0.5rem;
}

.exercise-input {
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 2px solid gray;
}

.exercise-suggestions {
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.25s ease, transform 0.25s ease;
    pointer-events: none;
}

.exercise-suggestions.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.exercise-suggestions.hide {
    display: none;
}

.exercise-suggestion {
    border: 1px solid #000000;
    border-radius: 0.9rem;
    padding: 0.3rem;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

.exercise-suggestion:hover {
    background: #f0f0f0;
}

.exercise-picker-label {
    text-align: center;
}

@media (prefers-color-scheme: dark) {

    .exercise-picker-container {
        background: #1c1c1c;

    }

    .exercise-picker-label {
        color: #e9e9e9;
    }

    .exercise-span {
        color: #e9e9e9;
    }

    .exercise-suggestion {
        background: #e9e9e9;
        color: black;
    }
}
