.exercise-sort-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.exercise-sort-modal.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.exercise-sort-container {
    background: #e9e9e9;
    border-radius: 8px;
    max-height: 27rem;
    overflow-y: auto;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 15rem;
}

.exercise-sort-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}

.exercise-item {
    padding: 10px;
    background: #1c1c1c;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    width: 9rem;
}

.exercise-item.dragging {
    opacity: 0.4;
}

.exercise-item-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.exercise-span {
    cursor: pointer;
    opacity: 0; /* invisible al inicio */
    transform: translateX(-10px); /* opcional: un pequeño slide desde la izquierda */
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 0;
    color: black;
}

.exercise-span.show {
    opacity: 1; /* visible */
    width: auto;
    transform: translateX(0); /* posición final */
}

.reorder-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    cursor: pointer;
    color: black;
}

#enable-reorder {
    cursor: pointer;
    accent-color: red;
}

.label-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.exercise-sort-save {
    padding: 6px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    display: block;
    transform: translateX(-100%); /* empieza fuera a la izquierda */
    opacity: 0; /* invisible al inicio */
    transition: transform 0.1s ease, opacity 0.1s ease;
}

/* Oculto completamente */
.exercise-sort-save.hide {
    transform: translateX(-100%);
    opacity: 0;
}

/* Mostrar con slide */
.exercise-sort-save.show {
    display: block; /* primero debe estar en block */
    transform: translateX(0); /* se mueve a su posición final */
    opacity: 1;
}

@media (prefers-color-scheme: dark) {

    .exercise-sort-container {
        background: #1c1c1c;

    }

    .reorder-label {
        color: #e9e9e9;
    }

    .exercise-span {
        color: #e9e9e9;
    }

    .exercise-item {
        background: #e9e9e9;
        color: black;
    }
}