.routine-picker-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;
}

.routine-picker-modal.show {
    opacity: 1;
    pointer-events: auto;
}


.routine-picker-container {
    background: #1c1c1c;
    padding: 20px;
    width: 18rem;
    border-radius: 8px;
    min-height: 21rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr auto;
}

.routine-picker-label {
    text-align: center;
    color: #a7a7a7;
}

.routine-picker-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    overflow-y: scroll
}

.routine-picker-list-item {
    border: 1px solid #ddd;
    border-radius: 0.9rem;
    padding: 0.3rem;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #a7a7a7;
}

.routine-picker-button {
    padding: 0.5rem;
    border-radius: 0.9rem;
    cursor: pointer;
    color: #8a0b0b;
    font-weight: bold;
}

@media (prefers-color-scheme: light) {
    .routine-picker-container {
        background: #e9e9e9;
    }

    .routine-picker-label {
        color: black;
    }

    .routine-picker-list-item {
        color: black;
        border: 1px solid black;

    }
}